<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=categoryName%></title>
  </head>
  <body>
    <h1>Inventory</h1>
    <a href="/">Homepage</a>
    <h2><em><%=categoryName%></em> Category:</h2>
    <%if(items.rows.length>0){%>
        <ul><h3>Items:</h3>
            <%items.rows.sort((a,b)=>a.id-b.id).forEach(item=>{%>
                <li style="list-style: none;">
                    <a href="/items/<%=item.id%>?categoryId=<%=categoryId%>"><%=item.name%></a>
                </li>
            <%})%>
        </ul>
    <%}else{%>
        <p>No items in category</p>
    <%}%>
    <form method="get" action="/category/editCategory/<%=categoryId%>"><button style="display: block;">Edit Category </button></form>
    <form method="get" action="/items/createItem">
        <input type="hidden" name="categoryId" value="<%= categoryId %>">
        <button type="submit">Add item</button>
    </form>    
    <form method="post" action="/category/deleteCategory/<%=categoryId%>"><button style="background-color: red; display: block; margin-top: 10%;">Delete category</button></form>

  </body>
</html>
